body{
    background-image: linear-gradient(90deg,black,rgb(42, 40, 40),rgb(97, 87, 87));

}
h1{
    font-family: 'Segoe UI';
    
    color: blue;
    background-color: aqua;
    
    text-align: center;
    font-size:10vw;
}
#ToRed{
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 564px;
    bottom: 470px;
    z-index: 1;
}

#ToYellow{
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 564px;
    bottom: 435px;
    z-index: 1;
}
#ToGreen{
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 564px;
    bottom: 400px;
    z-index: 1;
}
.alert{
    position: absolute;
    right: 20px;
    height: 60px;
    width: 60px;
    filter: drop-shadow(0px 2px 2px);
}
.road{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 350px;
    width: 1650px;
    max-width: 100%;
}
.traffic_light{
    position:absolute;
    left: 400px;
    bottom: 165px;
}
